/.settings
/.project
/.README.md.html
/man
/.git
/RSocrata_*.tar.gz
/RCheck
/out
/RSocrata.Rcheck
*.pdf
/DESCRIPTION.Rcheck
/.Rbuildignore.Rcheck
*.Rproj.user
*.Rproj
*.Rproj.user
*.Rhistory
.Rproj.user
