export(fieldName)
export(posixify)
export(read.socrata)
export(ls.socrata)
importFrom("httr", "parse_url", "build_url", "http_status", "stop_for_status", "GET", "content")
importFrom("mime", "guess_type")
importFrom("jsonlite", "fromJSON")
import("curl")
